* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */


/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.container {
  height: 100%;
  background: linear-gradient(rgba(15, 125, 158, 0.9), rgba(4, 139, 139, 0.6)), url(assets/pexels-maxyne-barcel-104022821.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.list-item {
  font-size: 2rem;
  font-weight: 400;
  color: #ebb434;
}

.hero-heading {
  color: #ebb434;
  font-weight: 600;
  font-size: 9rem;
  margin-bottom: 2rem;
  letter-spacing: 1rem;
}

.button-small {
  background-color: #ff505f;
  color: #ffffff;
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.button-large {
  background-color: #ff505f;
  color: #ffffff;
  border: 0;
  outline: 0;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
}

.logo {
  width: 100%;
  height: auto;
}

section {
  padding: 1rem 0;
}

.navbar {
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
}

.list-item {
  list-style-type: none;
  display: inline-block;
  margin: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  position: relative;
  margin: auto;
  padding: 2rem 0;
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: column;
}
.scrool-img {
  width: 10rem;
  display: inline-block;
  position: absolute;
  right: 0.12rem;
  bottom: 2rem;
}





